1327317/
FETAL_PLANES_ZENODO/
CAM_brain_subplanes/
.idea/
anomaly_detection/preprocessed_data/
segmentation_unet/preprocessed_data/
*.md 
*.csv
*.txt
*.pth
*.pt
*.h5
*.ckpt
*.log
experiment_logs/
runs/
wandb/
tensorboard/
__pycache__/
